*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
/* @ media queries */
/* @media(width < 700px){
   
} */
 table{
    width: 90%;
    border-collapse: collapse;
 }

 td,th{
    padding: 10px;
    text-align: center;
 }
 
 th{
    background-color: midnightblue;
    color: white;
    font-weight: 700;
 }
